<section>
    <div class="container mt-4">
        <div class="row">

            <div class="col-md-6"></div>
            <form action="/admin/add-faq"  method="POST">
  
  <h1>FAQ - ADDER</h1>

                <label for="">Question </label>
                <input type="text" name="Name" class="form-control">

                <label for="">Answer</label>
                <input type="text" name="Category" class="form-control">

                <select class="form-select" name="select" aria-label="Default select example">
                <option selected>select one</option>
                <option value="1">web design</option>
                <option value="2">e commerce</option>
                <option value="3">seo</option>
                </select>
              

                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
    </div>
</section>