
  <div class="text-center priceCards">
    <div class="container">
      <h1 class="theTitle  wow bounceIn " data-wow-offset="50" data-wow-delay="0.3s" style="font-size: 40px;"><b><i>{{pageheading}}</i></b></h1>
  
   
    <br>
    <br>
    
    			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#prices" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.4s"> WEBDESIGN PRICES</a></center></div>
          			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#faq" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s"> WEBDESIGN FAQs</a></center></div>
                			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#contact" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.8s">FREE CONSULTATION</a></center></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <br>
      <br>
    <p style="font-size: 20px;text-align:left;" class="wow fadeInLeft " data-wow-offset="50" data-wow-delay="0.3s" style="font-size: 40px;"><i>Our business is built on relationships – it sounds cliche, but it’s true. We believe that repeat business and growth stems from great work that keeps our clients coming back and NOT on sales pitches, but a true partnership with measurable results.

We take your investment in your business’ website and online marketing very seriously.  With critical focus on providing our clients the best web design solutions in Kerala.  Hand-crafted and user friendly while providing innovative website development and digital marketing that delivers actual results.We are a family-owned and operated business established in 2020.

Our professional in-house web designers and developers have been sharpening their skills and utilizing the latest and greatest technologies to help our clients achieve their online sales goals year in and year out. At A Clever Code , we stay true to our philosophy that effective website and eCommerce solutions combine a great web design, user experience, rock-solid technology and integrated web marketing.

We have worked with startups, small businesses and large corporations to provide professional and reliable website design and SEO with measurable results. We’ve helped many companies in Kerala and around the globe gain a competitive edge in their industry while providing an unmatched level of personal attention and customer support.</i></p>

  
    	<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#contact" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">FREE CONSULTATION</a></center></div>
</div>


  <div class="col-md-6 col-sm-12 col-xs-12" >
  
       <br>
      <br>
      <div class="webdesignimg">
    <img src="/images/kerala-web-design.webp" alt="kerala-web-design" class="wow fadeInRight " width="600px" height="400px"  data-wow-offset="50" data-wow-delay="0.3s" >
    <br><br>
    <img src="/images/best-web-design-kerala.webp" alt="best-web-design-kerala"  width="600px" height="400px"  class="wow fadeInRight " data-wow-offset="50" data-wow-delay="0.3s">
  </div>

  </div>

       <p style="margin-top: 20px;"><b>All prices varies depending on coustmer requirements</b>  </p>
        <!-- Card - 1 -->
      <session id="prices">
       <div class="col-lg-4 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">BRONZE </h4>
            </div>
            <div class="card-body">
            <h1><b>&#8377;3000 </b></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Contact Form</li>
                <li>Google Maps</li>
                <li>Social Media Integration</li>
                <li>Mobile Responsive</li>
                <li>SEO obtimised</li>
                <li>3-4 pages</li>

       
            </div>
          </div>
        </div>
        <!-- Card - 2 -->
            
        <div class="col-lg-4 wow bounceIn " data-wow-offset="50" data-wow-delay="0.2s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">SILVER </h4>
            </div>
            <div class="card-body">
            <h1><b>&#8377;6000 </b></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Mobile Responsive</li>
                <li>Social Media Integration</li>
                <li>Custom Icons</li>
                <li>Google Maps</li>
                <li>Contact Form</li>
                 <li>SEO obtimised</li>
                <li>Google Analytics</li>
                <li>404 Redirect</li>
                 
           
       
            </div>
          </div>
        </div>
        <!-- Card - 3 -->
          <div class="col-lg-4 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.9s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">GOLD</h4>
            </div>
            <div class="card-body">
         <h1><b>&#8377;20000 </b></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Website from Scratch</li>
                <li>2 Page Custom Mock-up</li>
                <li>Mobile Responsive</li>
                <li>Social Media Integration</li>
                <li>Google Maps</li>
                <li>Contact Form</li>
                <li>SEO obtimised</li>
                <li>404 Redirect</li>
                <li>Google Analytics</li>
                        
            </div>
          </div>
        </div>
        <!---card 4 --->

          <div class="col-md-12" style="margin-top: 150px; " >
         
                <div class="wow bounceIn " data-wow-offset="50" data-wow-delay="0.3s">
              <b style="font-size: 60px;">Fully costom &#8377;25,000+</b>
              </div>
                 <ul class="list-unstyled mt-3 mb-4">
               <p style="margin-top: 10px;"><i>We offer enterprise level custom website design for big businesses.</i></p>
                  <p style="margin-top: 10px;font-size:20px;color:rgb(158, 241, 179);"><i><b>We also provide our services without any charges but in trading your equity</b></i></p>
                 
              </ul>
           
       
          </div>


          <div class="col-md-12" style="margin-top: 150px; " >
            
            </div>
            </div>
          
      
       

      
    </div>
    </div>
 </section>
  <session id="faq">
  <div class= "fondo col-md-12 col-sm-12">
            <div class= "cuerpo">
                <img src="https://raw.githubusercontent.com/luamoris/react-faq-card-info/a8bb6248c30bae08f077566df122ac83c23a3532/src/img/illustration-woman-online-desktop.svg" class= "img">
                <div class="texto">
                    <h3 class= "titulo">FAQ</h3>
                      {{#each faqItems}}
                    <ul class= "lista wow fadeInRight " data-wow-offset="50" data-wow-delay="0.3s">
                        <li class= "item">
                          
                            <div class= "item_header">
                                <h4 class= "pregunta">{{Name}}</h4>
                                <i class= "fa fa-angle-down icon"></i>
                            </div>
                           
                               <p class= "parrafo">{{Category}}</p>
                              
                        </li>
                        
                    </ul>
                  {{/each}}
                </div>
            </div>
        </div> 
  </session>
          	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">BOOK A <span>FREE</span> CONSULTATION</h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="/form" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR DETAILS</p>
    						<span></span>
    						<p><i class="fa fa-phone"></i> +91 9074942053</p>
    						<p><i class="fa fa-envelope-o"></i> <a href="mailto:clevercodesolutions@gmail.com">clevercodesolutions@gmail.com</a></p>
    						<p><i class="fa fa-map-marker"></i> FREE CONSULTATION AVAILABLE</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="#" class="fa fa-instagram"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; clevercode</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

        <script>
            document.querySelectorAll(".item_header").forEach(
    function(header){

header.addEventListener("click",()=>{
            if(header.parentNode.classList.contains("active")){
              header.parentNode.classList.remove("active");
              header.parentNode.style.height= "54px";
              
            }else{
document.querySelectorAll(".item_header").forEach(
    function(header){
        header.parentNode.classList.remove("active");
        header.parentNode.style.height= "54px"
    }
)              
header.parentNode.classList.add("active");




let altPar=header.nextElementSibling.scrollHeight;
let altura= altPar+54;
header.parentNode.style.height= altura + "px";



                
            }
            
        })
    }
);

        </script>
  <style>
  body {
    
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 
 

}
.fondo{
    width:100%;
    height:100%;
    background:#303030;
    padding:130px 0;
}
.cuerpo{
    width:85%;
    background:#303030;
    border-radius:20px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0 15px 30px 15px;
}
.img{
    width:200px;
    position:relative;
    top: -90px;
    filter: drop-shadow(0 25px 0px #E1D6F6);
}
.titulo{
    text-align:center;
    color: rgb(238, 238, 248);
    font-size:25px;
    font-weight:700;
    
}
.pregunta{
    color:rgb(207, 208, 221);
    display:inline-block ;
    font-weight:500;
    font-size:16px;
    padding:20px 0;
}
.parrafo{
    color:rgb(255, 255, 255);
    line-height:17px;
    padding-bottom:20px;
    position:relative;
    top:-20px;
    
    opacity:0;
    
    transition:top 1s, opacity 1s;
    z-index:1;
}
.lista{
    list-style:none;
    
}
.item_header{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    position:relative ;
    z-index:2;
    
}
.item{
    border-bottom:1px solid #E6E6E9;
}
.icon{
    color: hsl(14,88%,65%);
    transition:transform 1s;
}
li{
   height:54px;
   overflow:hidden;
   transition:all 1s;
   
}
.active{
    
}
.active > .item_header> .pregunta{
    font-weight:bold;
    color: rgb(0, 183, 255);
}
.active > .item_header> .icon{
    transform: rotate(180deg);
    
}
.active> .parrafo{
    opacity:1;
    top:0;
}

      .card {
  border-radius: 10px;
  background-color: rgb(58, 59, 59);
}

.card .card-header {
  border-radius: 10px 10px 0 0;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .priceCards .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(2, 42, 85, 0.356);
    transition: all 0.25s;
  }
}

@media (max-width: 992px) {
  .card {
    margin: 0 1.1rem;
  }
  .theTitle {
    font-size: 2em;
  }
}

  </style>
  

 