
  <div class="text-center priceCards">
    <div class="container">
      <h1 class="theTitle  wow bounceIn " data-wow-offset="50" data-wow-delay="0.3s" style="font-size: 40px;"><b><i>{{pageheading}}</i></b></h1>
  
   
    <br>
    <br>
    
    			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#prices" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.4s">SEO PRICES</a></center></div>
          			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#faq" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">SEO FAQs</a></center></div>
                			<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#contact" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.8s">FREE CONSULTATION</a></center></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <br>
      <br>
    <p style="font-size: 20px;text-align:left;" class="wow fadeInLeft " data-wow-offset="50" data-wow-delay="0.3s" style="font-size: 40px;"><i>Dear business owners,

My name is Chris A. Hughes and I’m the Co-founder & SEO Manager at A Nerd’s World in Toronto.

If they can’t rank their own business website above us, How can they rank yours?

Wouldn’t it be incredible if you were able to rank #1 on Google?

Take a moment to imagine just how much more work you could accomplish with a reliable Toronto SEO team on your side. You would be able to focus on the parts of your business that require your attention as you grow your business, while we get you the rankings to increase your profits.

SEO has become quite the trendy acronym amongst aspiring ‘entrepreneurs’, ‘gurus’ and ‘digital marketing experts’ amongst other fly-by-night snake oil salesmen. It is a buzzword that is often used to convince someone that they know what they’re talking about without carrying any weight behind their words. We however have been proudly providing quality SEO since 2006. As an authority in SEO many would expect that we may take offence to the fakers, however we see it as a chance to educate our clients and the world. We use it as an opportunity to show the light!</i></p>

  
    	<div class="col-md-4 col-sm-12 col-xs-12 buttonofmore"><center><a data-scroll href="#contact" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">FREE CONSULTATION</a></center></div>
</div>


  <div class="col-md-6 col-sm-12 col-xs-12" >
  
       <br>
      <br>
      <div class="webdesignimg">
    <img src="/images/best-seo-kerala.jpeg"  class="wow fadeInRight " width="600px" height="400px"  data-wow-offset="50" data-wow-delay="0.3s" >
    <br><br>
    <img src="/images/seo-services-kerala.jpeg" width="600px" height="400px"  class="wow fadeInRight " data-wow-offset="50" data-wow-delay="0.3s">
  </div>

  </div>



       <p style="margin-top: 20px;">All prices varies depending on coustmer requirements  </p>
        <!-- Card - 1 -->
        <session id="prices">
       <div class="col-lg-4 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">BRONZE </h4>
            </div>
            <div class="card-body">
            <h1><b>&#8377;1000/Month </b></h1>
            <p><i>We will create a custom SEO strategy based on your &#8377;1000/month budget.</i></p>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Website Audit</li>
                <li>Custom SEO Strategy</li>
                <li>Keyword Research</li>
                <li>On-Page SEO</li>
                <li>Off-Page SEO</li>
                <li>Link Building</li>
                <li>Monthly Reporting</li>
                 
              </ul> <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
       
            </div>
          </div>
        </div>
        <!-- Card - 2 -->
        <div class="col-lg-4 wow bounceIn " data-wow-offset="50" data-wow-delay="0.2s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">SILVER </h4>
            </div>
            <div class="card-body">
            <h1><b>&#8377;2000/Month </b></h1>
            <p><i>We will create a custom SEO strategy based on your &#8377;2000/month budget.</i></p>
              <ul class="list-unstyled mt-3 mb-4">
               <li>Website Audit</li>
                <li>Custom SEO Strategy</li>
                <li>Keyword Research</li>
                <li>On-Page SEO</li>
                <li>Off-Page SEO</li>
                <li>Link Building</li>
                <li>Monthly Reporting</li>
                 
              </ul> <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
       
            </div>
          </div>
        </div>
        <!-- Card - 3 -->
          <div class="col-lg-4 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.9s" style="padding-top: 30px;">
          <div class="card mb-4 box-shadow">
            <div class="card-header bg-primary">
              <h4 class="my-0 font-weight-normal" style="color: white;">GOLD</h4>
            </div>
            <div class="card-body">
         <h1><b>&#8377;3000/Month </b></h1>
         <p><i>We will create a custom SEO strategy based on your &#8377;3000/month budget.</i></p>
              <ul class="list-unstyled mt-3 mb-4">
               <li>Website Audit</li>
                <li>Custom SEO Strategy</li>
                <li>Keyword Research</li>
                <li>On-Page SEO</li>
                <li>Off-Page SEO</li>
                <li>Link Building</li>
                <li>Monthly Reporting</li>
                 
              </ul> <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
       
            </div>
          </div>
        </div>
        <!---card 4 --->

          <div class="col-md-12" style="margin-top: 150px; " >
         
                <div class="wow bounceIn " data-wow-offset="50" data-wow-delay="0.3s">
              <b style="font-size: 40px;">SEO: IT’S ALL ABOUT RETURN ON INVESTMENT</b>
              </div>
                 <ul class="list-unstyled mt-3 mb-4">
               <p style="margin-top: 10px;"><i>Underquoting an SEO client is a surefire way of getting the worst return on investment possible.This is because SEO is an ongoing competition.  It is a search engine ranking race where the goal is to not simply finish first, but to remain at the front of the pack; to influence the direction of those behind you.

Assuming there are many in front of you, it is important to understand just how fast you have to run to surpass the competition. If you keep running at the same speed you will never catch up.

Your investment in SEO is what will determine your speed and your ranking. You want to run faster? Invest more! More budget means more time. Akin to a personal trainer, the more time you spend, the more progress you will see.
</i></p>

                 
              </ul>
           
       
          </div>


          <div class="col-md-12" style="margin-top: 150px; " >
            
            </div>
          
      
       

      
    </div>
    </div>
  </div>
  </session>
  <session id="faq">
  <div class= "fondo col-md-12 col-sm-12">
            <div class= "cuerpo">
                <img src="https://raw.githubusercontent.com/luamoris/react-faq-card-info/a8bb6248c30bae08f077566df122ac83c23a3532/src/img/illustration-woman-online-desktop.svg" class= "img">
                <div class="texto">
                    <h3 class= "titulo">FAQ</h3>
                      {{#each faqItems}}
                    <ul class= "lista wow fadeInRight " data-wow-offset="50" data-wow-delay="0.3s">
                        <li class= "item">
                          
                            <div class= "item_header">
                                <h4 class= "pregunta">{{Name}}</h4>
                                <i class= "fa fa-angle-down icon"></i>
                            </div>
                           
                               <p class= "parrafo">{{Category}}</p>
                              
                        </li>
                        
                    </ul>
                  {{/each}}
                </div>
            </div>
        </div> 
        </session>
           	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">BOOK A <span>FREE</span> CONSULTATION</h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="/form" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR DETAILS</p>
    						<span></span>
    						<p><i class="fa fa-phone"></i> +91 9074942053</p>
    						<p><i class="fa fa-envelope-o"></i> <a href="mailto:clevercodesolutions@gmail.com">clevercodesolutions@gmail.com</a></p>
    						<p><i class="fa fa-map-marker"></i> FREE CONSULTATION AVAILABLE</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="#" class="fa fa-instagram"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; clevercode</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

  
        <script>
            document.querySelectorAll(".item_header").forEach(
    function(header){

header.addEventListener("click",()=>{
            if(header.parentNode.classList.contains("active")){
              header.parentNode.classList.remove("active");
              header.parentNode.style.height= "54px";
              
            }else{
document.querySelectorAll(".item_header").forEach(
    function(header){
        header.parentNode.classList.remove("active");
        header.parentNode.style.height= "54px"
    }
)              
header.parentNode.classList.add("active");




let altPar=header.nextElementSibling.scrollHeight;
let altura= altPar+54;
header.parentNode.style.height= altura + "px";



                
            }
            
        })
    }
);

        </script>
  <style>
  body {
    
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 
 

}
.fondo{
    width:100%;
    height:100%;
    background:#303030;
    padding:130px 0;
}
.cuerpo{
    width:85%;
    background:#303030;
    border-radius:20px;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0 15px 30px 15px;
}
.img{
    width:200px;
    position:relative;
    top: -90px;
    filter: drop-shadow(0 25px 0px #E1D6F6);
}
.titulo{
    text-align:center;
    color: rgb(238, 238, 248);
    font-size:25px;
    font-weight:700;
    
}
.pregunta{
    color:rgb(207, 208, 221);
    display:inline-block ;
    font-weight:500;
    font-size:16px;
    padding:20px 0;
}
.parrafo{
    color:rgb(255, 255, 255);
    line-height:17px;
    padding-bottom:20px;
    position:relative;
    top:-20px;
    
    opacity:0;
    
    transition:top 1s, opacity 1s;
    z-index:1;
}
.lista{
    list-style:none;
    
}
.item_header{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    position:relative ;
    z-index:2;
    
}
.item{
    border-bottom:1px solid #E6E6E9;
}
.icon{
    color: hsl(14,88%,65%);
    transition:transform 1s;
}
li{
   height:54px;
   overflow:hidden;
   transition:all 1s;
   
}
.active{
    
}
.active > .item_header> .pregunta{
    font-weight:bold;
    color: rgb(0, 183, 255);
}
.active > .item_header> .icon{
    transform: rotate(180deg);
    
}
.active> .parrafo{
    opacity:1;
    top:0;
}

      .card {
  border-radius: 10px;
  background-color: rgb(58, 59, 59);
}

.card .card-header {
  border-radius: 10px 10px 0 0;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .priceCards .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(2, 42, 85, 0.356);
    transition: all 0.25s;
  }
}

@media (max-width: 992px) {
  .card {
    margin: 0 1.1rem;
  }
  .theTitle {
    font-size: 2em;
  }
}

  </style>
  

 